.Weather {
  background-color: #ffff;
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: 2.5px 2.5px 10px gray;
  margin: 30px auto;
  padding: 20px;
}

.Weather .form-control {
  background-color: #f9f7fe;
}
.Weather .btn {
  background-color: #885df1;
  color: #ffff;
}
.Weather .btn:hover {
  background-color: #885df1;
  color: #ffff;
}
.Weather hr {
  opacity: 0.08;
  margin-top: 20px;
}

.Weather h1 {
  color: cadetblue;
  font-size: 50px;
  font-weight: 800;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: -20px;
}

.Weather .humidity,
.wind,
.fahrenheitSymbol,
.celsiusSymbol,
.WeatherForecast-temperatures {
  color: #5f9da0;
}
.Weather .temperature {
  font-weight: 400;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
  color: rgb(33, 33, 33);
}

.Weather .unit {
  text-decoration: none;
}
